<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link <%= (tab === 'structure') ? 'active' : '' %>" aria-current="page" href="/tables/<%=tableName%>">Structure</a>
  </li>

  <li class="nav-item">
    <a class="nav-link <%= (tab === 'content')  ? 'active' : '' %>" href="/tables/<%=tableName%>/rows">Content</a>
  </li>
</ul>
